
.login .row.c{
    min-height: 80vh;
    align-items: center;
}
.login .form{
    padding: 50px 20px;
    background: #000;
    border-radius: 10px; 
    margin: 20px 1px;
}
.login .form .form-text{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.login .form input{
    background: #ffffff23;
    border: none;
    color: #fff;
}
.login .form span.icon{
    background: #dc3545;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
}
.login .btn{
    /* background: white; */
    /* border: 2px solid black; */
}
/* #dc3545 */