.intro{
    background: url('../../public/p2p.jpeg');
}
.intro .wrapper{
    padding: 40px 1px;
    background: #00000083;
}
.intro .c{
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.intro .btn-con .row {
justify-content: space-between;
padding-left: 5px;
}
.intro .sm-text{
    padding: 20px 1px;
    font-weight: bold;
}

@media (max-width: 995px) {
    .intro{
        text-align: center;
    }
}
.about{
    padding: 20px 1px;
    background: var(--bs-danger);
    color: #fff;
}
.about .row{
    /* background: #000; */
    align-items: center;
}

.cards{
    padding: 20px 1px;
}
.cards .c-card{
    border: 1px solid var(--bs-danger);
    border-radius: 10px;
}
.cards .c-card .c-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 1px;
}
.cards .c-card .c-card-icon i{
    /* background: var(--bs-danger); */
    border-radius: 50%;
    padding: 18px 20px;
}

.cards .c-card {
    margin: 5px 1px;
}

.faqs{
    padding: 50px 1px;
}
.faqs .f-head{
    padding: 20px 1px;
}