@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

#root span, #root h1, #root h2, #root h3, #root small, #root p, #root a, #root li, #root tr {
  font-family: 'Preahvihear', sans-serif;
}

.pb-bg-pri-grad {
   background: rgb(14, 128, 185);
   background: linear-gradient(
      45deg,
      rgba(14, 128, 185, 1) 0%,
      rgba(242, 5, 91, 1) 100%
   );
}
.pb-bg-sec {
   background: #111010;
}
